<footer class="fixed-bottom site-footer text-muted  bg-dark border-top">


        <div class="container text-center">
            &copy; 2022 - WebAppCore6 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>